body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 50px;
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.opt {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.opt.active {
  background: #4caf50;
  color: white;
  border: none;
}

.sendBtn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: gray;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
}

.sendBtn.active {
  background: #ff3b3b;
  cursor: pointer;
}
.vehicle-card{
  background:white;
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.number-plate{
  margin-top:15px;
  background:white;
  border:4px solid #111;
  border-radius:12px;
  display:flex;
  align-items:center;
  overflow:hidden;
}

.plate-left{
  width:70px;
  background:#0d47a1;
  color:white;
  text-align:center;
  padding:15px 5px;
  font-weight:bold;
}

#plateNumber{
  flex:1;
  text-align:center;
  font-size:42px;
  font-weight:900;
  letter-spacing:4px;
  padding:20px;
  font-family:Arial Black, sans-serif;
}
