body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 50px;
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.opt {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.opt.active {
  background: #4caf50;
  color: white;
  border: none;
}

.sendBtn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: gray;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
}

.sendBtn.active {
  background: #ff3b3b;
  cursor: pointer;
}
.vehicle-card{
    background:#ffffff;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.vehicle-card p{
    margin:8px 0;
    font-size:16px;
}

.number-plate{
    width:280px;
    height:70px;
    margin:20px auto;
    display:flex;
    border:3px solid #111;
    border-radius:10px;
    overflow:hidden;
    background:white;
}

.plate-left{
    width:60px;
    background:#003399;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

#plateNumber{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    font-weight:bold;
    letter-spacing:2px;
}

#qrCode{
    display:block;
    margin:20px auto;
    border:5px solid white;
    border-radius:10px;
}